@import "./../../assets/scss/style.scss";

#product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.homepage-container {
  .collection-banner {
    position: relative;
    overflow: hidden;

    &:hover {
      .img-part {
        transform: scale(1.05);
      }
    }

    .img-part {
      @include transition(all 0.5s ease);
      width: 100%;
      background-size: cover;
      background-position: center center;
      display: block;

      &::before {
        padding-top: 45%;
        content: "";
        display: block;
      }

      &--1 {
        background-image: url("../../assets/images/banner1.jpg");
      }
      &--2 {
        background-image: url("../../assets/images/banner2.jpg");
      }
      &--3 {
        background-image: url("../../assets/images/banner3.jpg");
      }
    }

    .blur-up {
      -webkit-filter: blur(0);
      filter: blur(0);
    }
  }

  .contain-banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    h4 {
      font-size: 18px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 0;
    }

    h2 {
      font-size: 36px;
      letter-spacing: 0.05em;
      color: white;
      margin-top: 5px;
      margin-bottom: -6px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .banner-timer {
    background-image: url("../../assets/images/offer-banner.jpg");
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;

    @media (max-width: 1367px) {
      background-position: right;
    }

    @media (max-width: 767px) {
      padding-top: 5px;
      padding-bottom: 40px;
    }

    .banner-text {
      padding-top: 45px;
      padding-bottom: 45px;

      @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgba(255, 255, 255, 0.65);
      }

      h2 {
        font-size: 36px;
        color: #222222;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.02em;
        margin-bottom: 0;
        text-align: center;

        @media (max-width: 1367px) {
          font-size: 28px;
        }

        @media (max-width: 991px) {
          font-size: 20px;
        }

        @media (max-width: 767px) {
          font-size: 15px;
        }

        span {
          color: $pColor;
        }
      }
    }
  }

  h4 {
    color: $pColor;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1;

    @media (max-width: 1199px) {
      padding-bottom: 8px;
    }

    @media (max-width: 991px) {
      font-size: 16px;
    }
  }

  h2 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 36px;
    color: #222222;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.02em;

    @media (max-width: 420px) {
      font-size: 22px;
    }
  }

  hr {
    border: 0px solid;
    height: 1px;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(0, 0, 0, 0)),
      color-stop(rgba(255, 153, 68, 0.75)),
      to(rgba(0, 0, 0, 0))
    );
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(255, 153, 68, 0.75),
      rgba(0, 0, 0, 0)
    );
    display: block;
    width: 25%;
    margin: 15px auto 50px auto;

    &:before {
      position: absolute;
      background-color: #efefef;
      border: 1px solid;
      border-color: $pColor;
      padding: 5px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 50%;
      margin: -6px 0px 0px 0;
      content: "";
    }
  }
}
