@import "./../../assets/scss/style.scss";

.product-wrapper-grid {
  .spinner {
    &:before {
      top: 80%;
    }
  }

  .product-landing-action {
    margin-top: 50px;
    text-align: center;

    @media (max-width: 991px) {
      margin-top: 35px;
    }
  }
}
