@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin transition($prop) {
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -ms-transition: $prop;
  -o-transition: $prop;
  transition: $prop;
}
@mixin animation($prop) {
  -webkit-animation: $prop;
  -moz-animation: $prop;
  -ms-animation: $prop;
  -o-animation: $prop;
  animation: $prop;
}
