// PADDING

.p-0 {
  padding: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.plr-15 {
  padding: 0px 15px;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

// MARGIN

.mr-15 {
  margin-right: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mtb100 {
  margin: 100px 0px;
}

.mlr15 {
  margin: 0px 15px;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

// FLEX

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-self-center {
  align-self: center !important;
}

.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
}

.f-wrap {
  flex-wrap: wrap;
}

.jf-al-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jf-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.al-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jf-end {
  justify-content: flex-end;
}

// UTILITIES

.text-warning {
  width: 100%;
  color: #8a6d3b;
  background: #fcf8e3;
  padding: 15px;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-50 {
  width: 50px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  @include transition(all ease 300ms);
  background: #ffffff;
  box-shadow: 0px 0px 8px #ddd;
  -webkit-animation: smoothScroll 1s forwards;
  animation: smoothScroll 1s forwards;
}

.media-body {
  flex: 1 1;
}

.pull-right {
  float: right;
}

.none {
  display: none !important;
}
